.jumbotron{
width: 800px;
margin-left: 60px;
margin-top: 225px;
background-color: lightsalmon!important;
border: double violet;
text-align: center;
font-family: fantasy;
color: teal !important;
}

body{
    background-image: url("../images/background.jpeg");
    background-size: 1000px;
    height: 900px;
    width: 900px;
}

