.jumbotron{
width: 600px;
text-align: center;
background-color:whitesmoke!important;
border: double teal;
text-align: center;
align-content: center;
align-self: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: teal !important;
}

body{
    background-image: url("../images/background.jpg")
    ;
    background-repeat: no-repeat;
   background-size: cover;
   
}

